Debug/*
Release/*
.vs/*
*.sln
*.user
*.filters
x64/*
CppProperties.json
/MinecraftProject/x64/Debug/MinecraftProject.exe.recipe
/MinecraftProject/x64/Debug/MinecraftProject.tlog
/MinecraftProject/x64/Debug/vc143.idb
